* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 2.5% 0.5rem 2.5%;
}

body nav a {
  color: #323232;
  font-weight: 300;
  font-size: clamp(0.2rem, 4vw, 1.5rem);
}

body nav .name {
  font-weight: 600;
}

body nav .ig {
  color: #2c2c2c;
}

body header {
  margin: 0 5% 0 5%;
  padding: 3rem 0 1rem 0;
}

body header .title {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: #2c2c2c;
}

body header .description {
  text-align: left;
  color: #858080;
}

body .grid-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .grid-photos .grid-item {
  width: 45%;
  margin: 2.5%;
}

body .grid-photos .grid-item img {
  height: 100%;
  width: 100%;
}

body .grid-photos .grid-item figcaption {
  font-size: .9rem;
  text-align: center;
  color: #646464;
  margin-top: .2rem;
  font-weight: 300;
}

body .grid-photos-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

body .grid-photos-flex .chocolat-image {
  -o-object-fit: cover;
     object-fit: cover;
}

body .grid-photos-flex img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: .5rem;
  width: 100%;
  height: 100%;
}

body footer p {
  font-size: .9rem;
  text-align: center;
  padding-bottom: 1.3rem;
  color: gray;
}

@media (min-width: 768px) {
  body nav {
    padding: 0 10% 0 10%;
    margin: 3.5rem 0rem 2rem 0rem;
    font-size: 0.5rem;
  }
  body .grid-photos {
    margin: auto;
    width: 80%;
  }
  body .grid-photos .grid-item {
    cursor: pointer;
    width: 33.3%;
    margin: 0;
    padding: 2rem;
  }
  body .grid-photos .grid-item img {
    width: 100%;
  }
  body .grid-photos .grid-item .image-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .5rem .5rem 0 .5rem;
  }
  body footer p {
    padding: 1rem 0 2rem 0;
  }
}

.masonry {
  -webkit-column-count: 1;
          column-count: 1;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 20px;
}

.masonry .mItem img {
  width: 100%;
}

@media (min-width: 768px) {
  .masonry {
    -webkit-column-count: 2;
            column-count: 2;
    margin-left: 10%;
    margin-right: 10%;
  }
  body header {
    width: 50%;
    margin: auto;
    padding: 3rem 0 3rem 0;
  }
}

@media (min-width: 1024px) {
  .masonry {
    -webkit-column-count: 3;
            column-count: 3;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1440px) {
  .masonry {
    -webkit-column-count: 4;
            column-count: 4;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*# sourceMappingURL=style.css.map */