body .grid-photos-biblioteca {
  display: -ms-grid;
  display: grid;
  padding: 2% 5% 5% 5%;
  gap: 1rem;
}

body .grid-photos-biblioteca img {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-photos-biblioteca {
    -ms-grid-columns: (2fr)[5];
        grid-template-columns: repeat(5, 2fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid-photos-biblioteca img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  .grid-photos-biblioteca .vertical {
    grid-row: span 1;
    grid-column: span 1;
  }
  .grid-photos-biblioteca .horizontal {
    grid-column: span 2;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background-color: #ffffff;
  font-family: 'Hind', sans-serif;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 5% 0.5rem 5%;
}

body nav a {
  color: black;
  font-weight: 300;
  font-size: clamp(0.2rem, 4vw, 3rem);
}

body nav .name {
  font-weight: 500;
}

body nav .ig {
  color: #2c2c2c;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin-left: 5%;
  padding: 3rem 0 2rem 0;
}

body header .title {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: #2c2c2c;
}

body header .description {
  text-align: left;
  margin: auto;
  width: auto;
  color: #858080;
}

body .grid-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .grid-photos .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 45%;
  margin: 2.5%;
  overflow: hidden;
}

body .grid-photos .grid-item .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

body .grid-photos .grid-item .image-title {
  font-size: .9rem;
  text-align: center;
  color: #858080;
  margin-top: .5rem;
  font-weight: 300;
}

body .grid-photos-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

body .grid-photos-flex .chocolat-image {
  -o-object-fit: cover;
     object-fit: cover;
}

body .grid-photos-flex img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: .5rem;
  width: 100%;
  height: 100%;
}

body footer p {
  font-size: .9rem;
  text-align: center;
  padding-bottom: 1.3rem;
  color: gray;
}

@media (min-width: 768px) {
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw;
    margin: auto;
    padding: 3rem 0 3rem 0;
  }
  body header .title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  body header .descripcion {
    text-align: left;
    width: 50vw;
    margin: auto;
    width: auto;
  }
  body .container nav {
    padding: 0 5% 0 5%;
    margin: 5rem 0 2rem 0;
  }
  body .container nav a {
    font-size: clamp(1rem, 1vw, 2rem);
  }
  body .grid-photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2.5% 0 2.5%;
    width: auto;
  }
  body .grid-photos .grid-item {
    cursor: pointer;
    width: 20%;
  }
  body .grid-photos .grid-item .image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .grid-photos .grid-item .image-title {
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5rem .5rem 0 .5rem;
  }
  body footer p {
    padding: 1rem 0 2rem 0;
  }
}
/*# sourceMappingURL=style.css.map */