@media (min-width: 768px) {


    body {
        nav {
            padding: 0 10% 0 10%;
            margin: 3.5rem 0rem 2rem 0rem;
            font-size: 0.5rem;
        }

        .grid-photos {
            // flex-direction: row;
            // justify-content: center;
            margin: auto;
            width: 80%;
                    
            .grid-item {
                cursor: pointer;
                width: 33.3%;
                margin: 0;
                padding: 2rem;

                img {
                    width: 100%;
                    // height: 100%;
                    
                }
                        
                .image-title {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    padding: .5rem .5rem 0 .5rem;
                }
                        
            }
                        
        }
        
        footer {
            p {
                padding: 1rem 0 2rem 0;
            }
        }
    }
}




