@media (min-width: 768px) {


    body {
        // overflow-x: auto;
        // overflow-y: auto;
        // height: 100vh;
        // width: 100vw;
        
        header {
            display: flex;
            flex-direction: column;
            width: 40vw;
            margin: auto;
            padding: 3rem 0 3rem 0;
            .title {
                text-align: left;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 2rem;

            }

            .descripcion {
                text-align: left;
                width: 50vw;
                margin: auto;
                width: auto;
            }
        }
        .container {

            nav {
                padding: 0 5% 0 5%;
                margin: 5rem 0 2rem 0;

                a {
                    font-size: clamp(1rem,1vw,2rem);
                
                }
            }
        }
        .grid-photos {
            flex-direction: row;
            flex-wrap: wrap;
            
            // margin: 0 2.5% 0 2.5%;
            padding: 0 2.5% 0 2.5%;
            width: auto;
            
            .grid-item {
                cursor: pointer;
                // margin: 2.5%;
                width: 20%;
                // margin: 0;

                .image {
                    object-fit: cover; 
                }
                
                .image-title {
                    text-transform: uppercase;
                    font-size: 1rem;
                    padding: .5rem .5rem 0 .5rem;
                }
                
            }
            
           
            
        }
        footer {
            p {
                padding: 1rem 0 2rem 0;
            }
        }
    }


}

