

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

a {
    text-decoration: none;
}
body {
    background-color: #ffffff ;
    font-family: 'Lato', sans-serif;
    height: 100vh;
        
    nav {
        display: flex;
        justify-content: space-between;
        margin: 1rem 2.5% 0.5rem 2.5%;

        a {
            color: rgb(50, 50, 50);
            font-weight: 300;
            font-size: clamp(0.2rem,4vw,1.5rem);
        }
        .name {
            font-weight: 600;
        }

        .ig {
            color: rgb(44, 44, 44);
        }

    }
     
    header {
        margin: 0 5% 0 5%;
        padding: 3rem 0 1rem 0;

        .title {
            text-align: left;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: .5rem;
            color: rgb(44, 44, 44);
        }

        .description {
            text-align: left;
            color: rgb(133,128,128);
        }
    }

    .grid-photos {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    
        .grid-item {
            width: 45%;
            margin: 2.5%;    

            img {
                height: 100%;
                width: 100%;
            }

            figcaption {
                font-size: .9rem;
                text-align: center;
                color: rgb(100, 100, 100);
                margin-top: .2rem ;
                font-weight: 300;

            }
        }
    }

    .grid-photos-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows:auto;
        
        .chocolat-image {
            object-fit: cover;
        }

        img {
            object-fit: cover;
            padding: .5rem;
            width: 100%;
            height: 100%;
        }
    }

    
    footer {
        // position: relative;
        p {
            font-size: .9rem;
            text-align: center;
            padding-bottom: 1.3rem;
            color: gray;
            
            
        }
    }
}


@import "mediaQuery";
@import "galleries";

